KAGGLE_USERNAME=your-kaggle-username
KAGGLE_KEY=your-kaggle-key
GCP_PROJECT_ID=your-gcp-projectId
GAR_REGION=the-region-of-your-Artifact-Registry-repository
GAR_REPOSITORY=your-Artifact-Registry-repository-name
GCP_SA_KEY=service-account-JSON